@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ST10101067_APPR6312_POE_PART_1.Models.IncomingDataModel;


    <img class="w-100 h-100" src="~/images/Home.png" alt="" style="background-size: cover;
            background-repeat: no-repeat"/>


<img class="w-100 h-100" src="~/images/AboutUs.png" alt="" style="background-size: cover;
            background-repeat: no-repeat"/>

<img class="w-100 h-100" src="~/images/Philosophy.png" alt="" style="background-size: cover;
            background-repeat: no-repeat" />
<div class="container bg-black" style=" padding:70px 0px 70px 0; margin-top: -10rem; border-radius:70px">
    <div class="row">
        <div class="col-md-4">
            <div class="p-4 text-center">
                <a class="btn btn-outline-light bg-black" style="font-size:2rem; border-radius:12px" asp-area="" asp-controller="UserDisasters" asp-action="Create">Log a Disaster</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" p-4 text-center">
                <a class="btn btn-outline-light bg-black" style="font-size:2rem; ; border-radius:12px" asp-area="" asp-controller="UserGoodsDonations" asp-action="Create">Donate Goods</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-4 text-center">
                <a class="btn btn-outline-light bg-black" style="font-size:2rem; border-radius:12px" asp-area="" asp-controller="UserMoneyDonations" asp-action="Create">Donate Money</a>
            </div>
        </div>
    </div>
</div>


<!-- Centered content within the full-screen image -->

@if (SignInManager.IsSignedIn(User))
{
   <div class="container-fluid" style="margin: 10rem auto 5rem auto">
        <h1 class="text-black text-center" style="font-size: 70px; font-weight:bold">LATEST STATISTICS</h1>
   </div>
   
    <br />

    <br />
     <div class="container">
    <h1>Incoming Disasters</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Aid Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disaster in Model.Disasters)
            {
                <tr>
                    <td>@disaster.DISTATER_ID</td>
                    <td>@disaster.STARTDATE</td>
                    <td>@disaster.ENDDATE</td>
                    <td>@disaster.LOCATION</td>
                    <td>@disaster.AID_TYPE</td>
                </tr>
            }
        </tbody>
    </table>

    <h1>Incoming Goods Donations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Donation Date</th>
                <th>Number of Items</th>
                <th>Category</th>
                <th>Description</th>
                <th>Donor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var goodsDonation in Model.GoodsDonations)
            {
                <tr>
                    <td>@goodsDonation.GOODS_DONATION_ID</td>
                    <td>@goodsDonation.DATE</td>
                    <td>@goodsDonation.ITEM_COUNT</td>
                    <td>@goodsDonation.CATEGORY</td>
                    <td>@goodsDonation.DESCRIPTION</td>
                    <td>@goodsDonation.DONOR</td>
                </tr>
            }
        </tbody>
    </table>

    <h1>Incoming Money Donations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Donor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var moneyDonation in Model.MoneyDonations)
            {
                <tr>
                    <td>@moneyDonation.MONEY_DONATION_ID</td>
                    <td>@moneyDonation.DATE</td>
                    <td>@moneyDonation.AMOUNT</td>
                    <td>@moneyDonation.DONOR</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}
else
{
}
